.button{
    width: 200px;
    height: 75px;
    display: flex;
    background: linear-gradient(to right, rgb(42, 120, 202) , rgb(6, 93, 231) );
 border-radius: 20px;
 border-style: solid;
 position: relative;
 z-index: 0;
 cursor: pointer;
 border-radius: 2px;
 color: white;
}

.button::after{
content: '';
height: 100%;
width: 0px;
background: linear-gradient( to right,yellow, red);
top: 0;
left: 0;
position: absolute;
z-index: -1;
transition: 150ms ease-in-out;
}

.button:hover::after{
    width: 100%;
}

